
html,
body {
padding: 0;
margin: 0;
background: #fff;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
}
html {
scroll-behavior: smooth;
}
body a {
outline: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
}
body a:hover {
text-decoration: none;
}
body a:focus,
a:hover {
text-decoration: none;
}
input[type="button"],
input[type="submit"] {
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea,span{
font-family: 'Roboto', sans-serif;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
letter-spacing: 1px;
}
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
}
ul {
margin: 0;
padding: 0;
list-style-type: none;
}

/*-- //Reset-Code --*/
h3.title {
    font-size: 60px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
font-family: 'Patrick Hand', cursive;
}
.title-w3ls-text p {
    font-size: 16px;
    color: #888;
    letter-spacing:0px;
    line-height: 26px;
    padding: 0em 18em;
}
.ser-text-wthree h4,.blog-txt-info h4 a,.footer-bottom-info h4{
    font-size: 25px;
    color:#3b9974;
    text-transform: capitalize;
}
.sent-butnn:hover,.view-buttn a:hover {
    opacity: .8;
}
p{
    font-size: 14px;
    color: #888;
    letter-spacing: 1px;
	line-height: 27px;
}

/* navigation */


/* CSS Document */

.toggle-2,
.toggle,
[id^=drop] {
  display: none;
}


/* Giving a background-color to the nav container. */

nav {
  margin: 0;
  padding: 0;
}
#logo a {
    float: left;
    display: initial;
    font-weight: 400;
    font-size: 43px;
    letter-spacing: 1px;
    color: #fff;
    padding: 0px 12px;
}
.sub-headder h6 a {
    font-size: 13px;
    position: absolute;
    top: 3px;
    border: none;
    border-left: 2px solid #fff;
    left: 89px;
    padding-left: 7px;
    line-height: 21px;
    color: #ffc107;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-transform: capitalize;
}
/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}


/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}


/* Positioning the navigation items inline */

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}


/* Styling the links */

nav ul li a {
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 50px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
nav ul li ul li:hover {
  background: #f8f9fa;
}

.menu li .drop-text:hover {
  color: #000;
  border: none;
}
/* Background color change on Hover */
/*.menu li.active a,.menu li a:hover{border-bottom: 1px solid #d4d4d4;}*/
.menu li a:hover {
  opacity: 0.8;
  color:#000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
/* Hide Dropdowns by Default
* and giving it a position of absolute */

nav ul ul {
  display: none;
  position: absolute;
  top: 33px;
  background: #000;
  padding: 10px;
  border-radius: 4px;
  box-shadow: -1px 1px 5px black;
}


/* Display Dropdowns on Hover */

nav ul li:hover>ul {
  display: inherit;
}


/* Fisrt Tier Dropdown */

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul li a {
  color: #fff;
  padding: 5px 10px;
  display: block;
  background: transparent;
}


/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/

nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li>a:only-child:after {
  content: '';
}

a.reqe-button {
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 4px;
}


/* Media Queries
--------------------------------------------- */

@media(max-width: 800px) {
  nav a {
    font-size: 13px;
  }
}

@media all and (max-width: 767px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
	
  }
  nav {
    margin: 0;
  }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle+a,
  .menu {
    display: none;
  }
  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    padding: 6px 17px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    float: right;
    background-color: #5facbe;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
  }
  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    max-width: 138px;
    padding: 10px 18px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .menu .toggle:hover {
    color: #fff;
    opacity: .8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .toggle:hover {
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  label.toggle.toogle-2 {
    background: transparent;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
  }
  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked+ul {
    display: block;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }
  /* Change menu item's width to 100% */
 nav ul li {
    display: block;
    width: 100%;
    padding:2px 0;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul ul ul a {
    padding: 0 80px;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #FFF;
    font-size: 15px;
  }
  /* 
nav ul li ul li .toggle,
nav ul ul a {
background-color: #212121;
} */
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }
  /* Hide menus on hover */
  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    padding: 0;
  }
  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
  nav a {
    color: #000;
    font-size: 15px;
  }
  .menu li.active a,
  .menu li a:hover {
    background: transparent;
  }
}

@media all and (max-width: 568px) {
  nav a,
  .menu .toggle,
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    font-size: 14px;
  }
}

@media all and (max-width: 320px) {
  nav a,
  .menu .toggle,
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    font-size: 13px;
  }
}


/*-- dropdown --*/


/* headder */
/*-- banner-- */
.headder-top {
    position: absolute;
    width: 100%;
    padding: 1em 2em;
    background: rgba(230, 230, 230, 0.5);
}
.main-banner {
    padding-top: 20em;
}
.banner-left-side{
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:00px;
	}

.social-icons ul li{
    width: 35px;
    text-align: center;
    height: 35px;
    line-height: 36px;
    border-radius: 50px;
    margin: 0px 2px;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.social-icons ul li.facebook {background:#0078d7;}
.social-icons ul li.twitter{background:#1da1f2;}
.social-icons ul li.rss{background:#f26522;}
.social-icons ul li a span{
  color: #fff;
  font-size:15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.social-icons ul li,.news-date-list ul li{
    display: inline-block;
}
.banner-right-txt h4 {
    color: #fff;
    font-size: 6em;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 3px 1px 11px #5f5e5e94;
    line-height: 65px;
font-family: 'Patrick Hand', cursive;
}
.slide-info-txt p {
    color: #dadada;
    font-size: 15px;
    text-shadow: 2px 2px 8px #000;
    line-height: 27px;
    letter-spacing: 1px;
    padding: 3em 15em 0em;
}
.banner-right-txt h5 {
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
}
.view-buttn a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    font-weight: 400;
    border-radius: 0px;
    background-color: #3e3e3e;
    padding: 8px 15px;
    border: 2px solid #989898;
}
/*--// banner-- */
/*--about--*/

.abut-img-two img {
    position: absolute;
    top: 303px;
    width: 82%;
    left: 36%;
}
.about-right-grid h2, .store-details h4 {
    font-size: 35px;
    color: #c50e1f;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Patrick Hand', cursive;
}
.abut-img-w3l img,.abut-img-two img  {
    box-shadow: -2px -2px 5px #7b7b7b;
}
/*--// about-- */
.store-info,.veg-info,.blog {
    background: #ececec;
}
.grid-wthree-service img{
border-radius: 50%;
box-shadow: 1px 1px 7px #a2a2a2;
}
.grid-wthree-service {
    background: rgb(255, 255, 255);
    padding: 2em 1.5em;
    box-shadow: 0px 0px 9px #c7c7c7;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.grid-wthree-service:hover {
    background: #ffc107;
}
/* --veg-info --*/
.w3three-veg-org h6,.blog-info a ul li ,.news-date-list ul li a,.footer-office-hour h6,.footer-office-hour ul li span,.store-details h6{
    font-size: 14px;
    color:#c50e1f;
}
.w3three-veg-org h5 {
    font-size: 19px;
    color:#28a745;
}
/*--blog --*/
.blog-info {
    position: absolute;
    top: 10px;
    left: -8px;
    width: 19%;
}
.w3ls-post-img {
    position: relative;
}
.blog-info a ul {
    margin: 0;
    background:#ffc107;
    padding: 15px;
    text-align: center;
}
.blog-txt-info {
    position: absolute;
    top: 138px;
    background: #f7f7f7;
    width: 84%;
    left: 8%;
    padding: 1em 1.5em;
}
/*--//blog --*/
/* --gallery --*/
/* popup */
.popup-effect {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.popup-effect:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 4px;
  max-width: 430px;
  position: relative;
  margin: 3em auto;
  padding: 3em 2em;
  z-index: 999;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.popup .close:hover {
  color: #686de0;
}
/* //popup */
/* --//gallery --*/
/*--map-- */
.address_mail_footer_grids iframe {
    width: 100%;
    height: 24em;
    border: none;
    padding: 10px;
}
/*--//map-- */
/*--contact--*/
.contact-forms input, .contact-forms textarea {
    font-size: 14px;
    color: #000;
    padding: .9em 0em;
    outline: none;
    border: none;
    border-bottom: 2px solid #28a745;
    border-radius: 0px;
    outline: none;
    background: transparent;
}
.contact-forms textarea {
    resize: none;
    height:11em;
}
.sent-butnn {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    background:#c50e1f;
    padding: 7px 20px;
    border-radius: 0px;
    margin-top: 10px;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//contact--*/

/*--footer-- */
.newsletter input[type="email"] {
    outline: none;
    padding: 13px 15px;
    color: #000;
    font-size: 14px;
    width: 80%;
    border-radius: 0px;
    background:#fff;
    border: 1px solid #000;
}
button.btn1 {
    width: 20%;
    color: #fff;
    border: 1px solid #000;
    padding: 11.5px 0;
    font-size: 16px;
    background:#c50e1f;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
}
.bottem-wthree-footer {
    background: #000;
}
.footer-w3layouts-bottem {
    background: #06121f;
}
.footer-office-hour ul li p,.footer-office-hour ul li p a,.footer-office-hour p{font-size: 13px;
    color: #bbb9b9;
    line-height: 21px;
}
.bottem-wthree-footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.bottem-wthree-footer p a {
    color: #ff5e00;
    font-size: 14px;
}
.bottem-wthree-footer p a:hover{color: #fff;}
a.move-top span {
    display: inline-block;
    font-size: 25px;
    color: #fff;
}
/*--//footer-- */
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
.banner-left-side {
    min-height: 680px;
}	
.main-banner {
    padding-top: 15em;
}
.banner-right-txt h4 {
    font-size: 5.7em;
}
#logo a {
    font-size: 41px;
}
.sub-headder h6 a {
    left: 85px;
}
h3.title {
    font-size: 57px;
	}
.grid-wthree-service {
    padding: 1.8em 1.5em;
}
.address_mail_footer_grids iframe {
    height: 22em;
}
}
@media(max-width:1366px){
.about-right-grid h2, .store-details h4 {
font-size: 33px;
}
.contact-forms textarea {
height: 10em;
}	
.blog-info {
width: 18%;
}
.banner-right-txt h5 {
font-size: 28px;
}
.contact-forms input, .contact-forms textarea {
    padding: .8em 0em;
}
}
@media(max-width:1280px){
.social-icons ul li {
    width: 33px;
    height: 34px;
    line-height: 34px;
}	
.social-icons ul li a span {
    font-size: 14px;
}
.view-buttn a {
    padding: 8px 13px;
}
.w3three-veg-org h5 {
    font-size: 18px;
}
.address_mail_footer_grids iframe {
    height: 20em;
}
}
@media(max-width:1080px){
nav ul li a {
    padding: 8px 22px;
}
.slide-info-txt p {
padding: 3em 11em 0em;
}
.banner-left-side {
    min-height: 600px;
}
.main-banner {
    padding-top: 13em;
}
.banner-right-txt h4 {
    font-size: 5.4em;
}
.abut-img-two img {
    top: 273px;
    width: 72%;
}
.title-w3ls-text p {
    font-size: 15px;
    padding: 0em 15em;
}
#logo a {
    font-size: 39px;
}
.grid-wthree-service {
    padding: 1.6em 1.3em;
}
h3.title {
    font-size: 54px;
}
}
@media(max-width:1050px){
.blog-txt-info {
    width: 86%;
    left: 7%;
    padding: 1em 1.3em;
}
.ser-text-wthree h4, .blog-txt-info h4 a, .footer-bottom-info h4 {
    font-size: 23px;
	}
.blog-info a ul {
    padding: 13px;
}
}
@media(max-width:1024px){
button.btn1 {
    padding: 9.5px 0;
}	
.newsletter input[type="email"] {
    outline: none;
    padding: 10px 13px;
}
.contact-forms input, .contact-forms textarea {
    padding: .7em 0em;
}
.contact-forms textarea {
    height: 9em;
}
.w3three-veg-org h6, .blog-info a ul li, .news-date-list ul li a, .footer-office-hour h6, .footer-office-hour ul li span, .store-details h6 {
    font-size: 13px;
}
}
@media(max-width:991px){
.slide-info-txt p {
    padding: 3em 3em 0em;
}
.headder-top {
    padding: 1em 1.5em;
}	
.banner-right-txt h5 {
    font-size: 26px;
}
.banner-right-txt h4 {
    font-size: 5.2em;
    line-height: 61px;
}
#logo a {
    font-size: 37px;
}
.title-w3ls-text p {
    padding: 0em 9em;
}
.left-abut-txt,.store-image-right,.veg-list-text {
    margin-top: 37px;
}
.abut-img-two img {
    top: 192px;
    width: 69%;
}
.blog-info {
    width: 9%;
}
}
@media(max-width:900px){
.banner-left-side {
    min-height: 560px;
}
.main-banner {
    padding-top: 11em;
}
.banner-right-txt h4 {
    font-size: 4.8em;
}	
nav ul li a {
    padding: 8px 19px;
}
.about-right-grid h2, .store-details h4 {
    font-size: 31px;
}
.view-buttn a {
    padding: 8px 11px;
    font-size: 14px;
}
.grid-wthree-service {
    padding: 1.4em 1.3em;
}
h3.title {
    font-size: 50px;
}
}
@media(max-width:800px){
.abut-img-two img {
    left: 28%;
}	
.sub-headder h6 a {
    left: 76px;
}
.address_mail_footer_grids iframe {
    height: 18em;
}
.sent-butnn {
font-size: 15px;
padding: 7px 19px;
}
}
@media(max-width:768px){
nav ul li a {
    padding: 8px 15px;
}
#logo a {
    font-size: 35px;
}
.banner-right-txt h5 {
    font-size: 24px;
}
.slide-info-txt p {
    font-size: 14px;
    line-height: 25px;
}	
.ser-text-wthree h4, .blog-txt-info h4 a, .footer-bottom-info h4 {
    font-size: 21px;
}
.w3three-veg-org h5 {
    font-size: 17px;
}
}
@media(max-width:767px){
.slide-info-txt p {
    padding: 2.5em 1em 0em;
}
.banner-right-txt h4 {
    font-size: 4.6em;
}	
.title-w3ls-text p {
    padding: 0em 3em;
}
.grid-wthree-service {
    padding: 1.2em 1.1em;
}
.blog-info {
    width: 11%;
}
.blog-txt-info {
    left: 25%;
}
.address_mail_footer_grids iframe {
    height: 16em;
}
h3.title {
    font-size: 48px;
}
.contact-forms textarea {
    height: 8em;
}
.footer-bottom-info:nth-child(2),.footer-bottom-info:nth-child(3) {
    margin-top: 26px;
}
}
@media(max-width:736px){
.social-icons ul li {
    width: 31px;
    height: 32px;
    line-height: 31px;
}
.banner-left-side {
    min-height: 513px;
}
.main-banner {
    padding-top: 10em;
}
.banner-right-txt h4 {
    font-size: 4.4em;
}
.abut-img-two img {
    top: 232px;
    width: 83%;
}
.about-right-grid h2, .store-details h4 {
    font-size: 29px;
}
.blog-txt-info {
    padding: 1em 1em;
}
.address_mail_footer_grids iframe {
    height: 14em;
}	
}
@media(max-width:667px){
.banner-right-txt h4 {
    font-size: 4.2em;
}
.slide-info-txt p {
    padding: 2em .5em 0em;
}
.abut-img-two img {
    left: 21%;
}
.blog-txt-info {
    left: 23%;
}
h3.title {
    font-size: 45px;
}
}
@media(max-width:640px){
.ser-text-wthree h4, .blog-txt-info h4 a, .footer-bottom-info h4 {
    font-size: 20px;
}
.banner-left-side {
    min-height: 493px;
}
.banner-right-txt h4 {
    font-size: 4em;
}
.banner-right-txt h4 {
    line-height: 49px;
}	
.title-w3ls-text p {
font-size: 14px;
}
.grid-wthree-service {
    padding: 1.1em 1em;
}
.blog-txt-info {
    left: 18%;
}
}
@media(max-width:600px){
.headder-top {
    padding: .7em 1em;
}	
#logo a {
    font-size: 32px;
}
.sub-headder h6 a {
    left: 66px;
    top: -1px;
}
.abut-img-two img {
    left: 18%;
    top: 249px;
}
.blog-txt-info {
    left: 16%;
}
.address_mail_footer_grids iframe {
    height: 13em;
}
}
@media(max-width:568px){
.abut-img-two img {
    left: 15%;
}	
.about-right-grid h2, .store-details h4 {
    font-size: 28px;
}
.blog-txt-info {
    width: 100%;
	position: inherit;
	top:0px;
	left:0%;
	}
h3.title {
    font-size: 43px;
    letter-spacing: 1px;
}
.contact-forms input, .contact-forms textarea {
    padding: .6em 0em;
}
.sent-butnn {
    font-size: 14px;
    letter-spacing: 1px;
}
}
@media(max-width:480px){
.banner-left-side {
    min-height: 460px;
}
.main-banner {
    padding-top: 9em;
}
.banner-right-txt h4 {
    font-size: 3.6em;
}
.banner-right-txt h5 {
    font-size: 22px;
}
.title-w3ls-text p {
    padding: 0em 1em;
}
.abut-img-two img {
    position: inherit;
    width: 100%;
    top:0px;
    left:0%;
	margin-top:20px;
}	
.bottem-wthree-footer p {
    letter-spacing: 1px;
}
.blog-info {
    width: 13%;
}
}
@media(max-width:440px){
#logo a {
    font-size: 30px;
}
.banner-right-txt h5 {
    letter-spacing: 1px;
}	
.slide-info-txt p {
    padding: 1.7em .5em 0em;
}
.title-w3ls-text p {
    padding: 0em.2em;
}
.about-right-grid h2, .store-details h4 {
    font-size: 26px;
}
.ser-text-wthree h4, .blog-txt-info h4 a, .footer-bottom-info h4 {
    font-size: 19px;
}
}
@media(max-width:414px){
.w3three-veg-org h5 {
    font-size: 16px;
}
.main-banner {
    padding-top: 8em;
}
.grid-wthree-service {
    padding: 1em 1em;
}
h3.title {
    font-size: 41px;
	}
button.btn1 {
    padding: 7px 0;
}
.newsletter input[type="email"] {
    padding: 8px 13px;
}
}
@media(max-width:384px){
.banner-left-side {
    min-height: 440px;
}
.main-banner {
    padding-top: 7em;
}
.banner-right-txt h4 {
    font-size: 3.4em;
}
.blog-info {
    width: 16%;
}
}
@media(max-width:375px){
h3.title {
    font-size: 37px;
}
.w3three-veg-org h5 {
    font-size: 15px;
}
.ser-text-wthree h4, .blog-txt-info h4 a, .footer-bottom-info h4 {
    font-size: 18px;
}
.address_mail_footer_grids iframe {
    height: 11em;
}
.contact-forms textarea {
    height: 7em;
}	
}
@media(max-width:320px){
.banner-right-txt h4 {
    font-size: 3em;
}
.slide-info-txt p {
    padding: 1.5em .5em 0em;
}
.main-banner {
    padding-top: 6.5em;
}
.about-right-grid h2, .store-details h4 {
    font-size: 25px;
}
.blog-info {
    width: 18%;
}
h3.title {
    font-size: 35px;
}	
}
/*--//responsive--*/